/build/
/game/
/recomp/
/third_party/*
!/third_party/DolRecomp/
/third_party/DolRecomp/build*/
/.aider*
/opencode.json
*.rpx
*.rpl
*.wud
*.wux
*.exe
*.dll
*.pdb
*.obj
*.lib
*.zip

*.log
*.pid
*.ppm
*.bmp
*.bgra

.vs/
out/
CMakeUserPresets.json
